/* .card {
  display: flex;
} */

.main-image {
  width: 160%;
  height: 650px;
}

.title {
  position: relative;
  top: -700px;
  right: -1000px;
  width: 40px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -300px;
  right: -950px;
}
