.clickable-div {
  position: relative;
}
.clickable-div a {
  position: relative;
  z-index: 1;
}
.clickable-link a {
  position: static;
}
.clickable-div a::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 500;
  left: 0;
  width: 0;
  height: 0;
}
.title {
  position: relative;
  top: -600px;
  right: -1000px;
}
p {
  position: relative;
  top: -400px;
  right: -1000px;
}
.main-image {
  display: block;
  height: 650px;
}
